$black2: #2d2d2d;
$white: #ffff;
$inputText: #737373;
$gray1: #f9f9f9;
$gray-2: #212529;
$gray-3: #7c7c7c;
$gray-4: #f8f8f8;
$gray-5: #878787;
$gray-6: #e6e6e6;
$gray-7: #ded4d4;
$gray-8: #999999;
$gray-9: #d9d9d9;
$gray-10: #d7d7d7;
$gray-11: #e9e6e6;
$gray-12: #f9f9f9;
$gray-13: #ffffff;
$gray-14: #f5f5f5;
$gray-15: #929292;
$gray-16: #cccccc;
$gray-17: #f4f4f4;
$gray-18: #d2d2d2;
$gray-19: #c8c8c830;
$gray-20: #f5f4f7;
$gray-21: #7f7f7f;
$gray-22: #666666;
$gray-23: #eaeaea;
$gray-24: #828282;
$gray-25: #f3f7fd;
$gray-26: #cf141400;
$gray-27: #c4c4c4;
$gray-28: #e5e5e5;
$red-2: #dd33331a;
$red-3: #f24753;
$red-4: #dd33331a;
$red-5: #dd33331a;
$red-6: #fbebec;
$red-7: #fcebeb;
$yellow-1: #fef5e8;
$yellow-2: #f79e1b;
$green-1: #e9f7ec;
$green-2: #1fb141;

$primaryColor: #dd3333;
$mustard: #f39c12;
$green: #22b141;
$tommy-font: "MADE Tommy";
$gray-circle: #f0f0f0;
$grayBox-shadow: #00000033;
$light-red2: #fef6f6;
$black2: #2d2d2d;
$black: #000;
$dim-red: #dd33331a;
$gray-light-shadow: #ebebeb;
