@import "../../common/themeColor.scss";

.orderContainer {
}

.orderParent {
  margin: 15px;
  background: #efeeee;
  border-radius: 25px;
  margin-top: 5%;
  cursor: pointer;
  padding: 20px;
  background: white !important;
  svg {
    color: #e33333 !important;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-ag7rrr-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.334;
  letter-spacing: 0em;
}
b {
  font-size: 15px;
}
