@import '../../common/themeColor.scss';

.generic-badge-style {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 13px;
  width: 5rem !important;
}
.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
