@import "../../common/themeColor.scss";
.generalButton .generic-btn-container {
}

.singleReview {
  padding: 10px;
  background: white;
  border-radius: 25px;
  margin: 10px 0;
}
.generalButton .generic-btn-container {
}
.image-container-details {
  img {
    height: 50vh;
    width: 30vw;
  }
}
